@charset "UTF-8";
/*
  暗黑模式变量
*/
.dark {
  --theme-text-color: rgba(255, 255, 255, 0.87);
  --theme-black-text: white;
  --theme-bg-color: var(--theme-black);
  /*
    暗黑模式，导航栏样式
  */
  --theme-header-bg-color: #141414;
  --theme-header-font-color: white;
  --theme-sub-menu-bg-color: #141414;
  --theme-sub-menu-font-color: white;
  --theme-header-border-color: transparent;
  --theme-header-shadow-color: transparent;
  /*
    页脚
  */
  --theme-footer-bg-color: transparent;
  --theme-footer-font-color: white;
  --theme-text-secondary: rgba(235, 235, 235, 0.99);
  --theme-hover-bg: var(--theme-text-color);
  --theme-hover-color: var(--theme-black);
  --theme-front-color: #2a2a2b;
  --theme-text-mini-color: rgba(235, 235, 235, 0.99);
  --theme-hover-shadow: rgba(223, 223, 223, 0.5);
  --theme-header-color: #141414;
  --theme-header-border: #141414;
  --theme-front-main-color: #2a2a2b;
  --theme-pre: rgba(255, 255, 255, 0.87);
  --theme-pre-code-bg: #141414;
  --theme-pre-code-shadow: transparent;
  --theme-label-bg: #141414;
  --theme-label-hover: #2a2a2b; }
