.dark {
  --theme-text-color: rgba(255, 255, 255, 0.87);
  --theme-bg-color: var(--theme-black);
  --theme-text-secondary: rgba(235, 235, 235, 0.99);
  --theme-hover-bg: var(--theme-text-color);
  --theme-hover-color: var(--theme-black);
  --theme-front-color: #2a2a2b;
  --theme-text-mini-color: rgba(235, 235, 235, 0.99);
  --theme-hover-shadow: rgba(223, 223, 223, 0.18);
  --theme-header-color: #141414;
  --theme-header-border: #141414; }

.theme-one {
  --theme-color: #f5222d; }

.theme-two {
  --theme-color: #fa541c; }

.theme-three {
  --theme-color: #fadb14; }

.theme-four {
  --theme-color: #3eaf7c; }

.theme-five {
  --theme-color: #13c2c2; }

.theme-six {
  --theme-color: #1890ff; }

.theme-seven {
  --theme-color: #722ed1; }

.theme-eight {
  --theme-color: #eb2f96; }
