@charset "UTF-8";
/*
  手机
*/
@media (max-width: 480px) {
  :root {
    --theme-first-level-title: 1.3rem;
    --theme-first-level-title: 1.3rem;
    --theme-text: 0.95rem;
    --theme-secondary: 0.85rem;
    --theme-text-mini: 0.75rem;
    --theme-text-more-mini: 0.75rem;
    --theme-secondary-level-title: 1.05rem;
    --theme-third-level-title: 1rem;
    --theme-fourth-level-title: 0.95rem;
    --theme-header-size: 1.15rem;
    --theme-margin-bottom: 1.1rem; }
  html {
    min-width: unset; }
    html body {
      /*
        如果有动态页面加载
      */ }
      html body h1 {
        margin-top: 0.6rem;
        line-height: 1.5; }
      html body h2 {
        font-weight: bold !important; }
      html body h3 {
        font-weight: bold; }
      html body h4 {
        font-weight: bold; }
      html body #category {
        padding-left: 0 !important; }
      html body .main-header {
        height: 55px;
        border-top: 1px solid var(--theme-header-border); }
        html body .main-header .daohang {
          font-size: 1.45rem; }
      html body .password img {
        width: 60%; }
      html body .main-container {
        margin-top: 55px; }
        html body .main-container .div-info {
          padding: .1rem 1rem .85rem 1.1rem; }
        html body .main-container .main-main {
          width: 100%; }
          html body .main-container .main-main .non-result {
            margin-top: 1rem; }
            html body .main-container .main-main .non-result .in {
              font-size: var(--theme-header-size); }
              html body .main-container .main-main .non-result .in .belong {
                font-size: inherit; }
          html body .main-container .main-main .main-bottom {
            padding: 0 0.3rem; }
          html body .main-container .main-main .main-content {
            padding: 1.1rem 1rem 0 1rem; }
            html body .main-container .main-main .main-content .breadcrumb {
              padding-bottom: 0.75rem; }
        html body .main-container #space, html body .main-container #fixed {
          display: none; }
      html body .index .main-main .main-content {
        padding: 1.45rem 0.9rem 0 0.9rem; }
        html body .index .main-main .main-content .i-article .i-article-right {
          margin-right: 1rem;
          /*
              缩略图最小高度
            */ }
          html body .index .main-main .main-content .i-article .i-article-right a img {
            min-height: 5rem; }
        html body .index .main-main .main-content .i-article .i-article-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          html body .index .main-main .main-content .i-article .i-article-left .i-article-title {
            font-size: var(--theme-text); }
            html body .index .main-main .main-content .i-article .i-article-left .i-article-title a {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.55; }
          html body .index .main-main .main-content .i-article .i-article-left .i-article-excerpt {
            display: none; }
          html body .index .main-main .main-content .i-article .i-article-left .i-article-info ul li {
            font-size: var(--theme-text-mini); }
          html body .index .main-main .main-content .i-article .i-article-left .i-article-info .category {
            display: none; }
      html body .index .main-main .hasDynamic {
        padding-top: 0; }
      html body #author {
        display: none; } }
