@charset "UTF-8";
/*
  手机
*/
@media (max-width: 480px) {
  :root {
    --theme-first-level-title: 1.25rem;
    --theme-text: 0.95rem;
    --theme-secondary: 0.85rem;
    --theme-text-mini: 0.75rem;
    --theme-text-more-mini: 0.75rem;
    --theme-secondary-level-title: 1.05rem;
    --theme-third-level-title: 1rem;
    --theme-fourth-level-title: 0.95rem;
    --theme-header-size: 1.15rem;
    --theme-margin-bottom: 1.1rem;
    --theme-margin-bottom-max: 1.2rem; }
  html {
    min-width: unset; }
    html body {
      /*
        如果有动态页面加载
      */
      /*评论区*/ }
      html body h1 {
        margin-top: 0.6rem;
        line-height: 1.5; }
      html body #category {
        padding-left: 0 !important; }
      html body .main-header {
        height: 55px;
        border-top: 1px solid var(--theme-header-border);
        border-bottom: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
        html body .main-header .daohang {
          font-size: 1.45rem; }
        html body .main-header .right .menu-left .menu .menu-item {
          font-size: var(--theme-text); }
      html body .password img {
        width: 60%; }
      html body .main-container {
        margin-top: 55px; }
        html body .main-container .div-info {
          padding: .1rem 1rem .85rem 1.1rem; }
        html body .main-container .main-main {
          width: 100%; }
          html body .main-container .main-main .non-result {
            margin-top: 1rem;
            /* 文章推荐 */ }
            html body .main-container .main-main .non-result .in {
              font-size: var(--theme-header-size); }
              html body .main-container .main-main .non-result .in .belong {
                font-size: inherit; }
            html body .main-container .main-main .non-result .recommend .list .swiper-slide {
              width: calc(50% - 12px); }
          html body .main-container .main-main .main-bottom {
            padding: 0 0.3rem; }
          html body .main-container .main-main .main-content {
            padding: 1.1rem 1rem 0 1rem; }
            html body .main-container .main-main .main-content .main-article h2 {
              font-weight: bold !important; }
            html body .main-container .main-main .main-content .main-article h3 {
              font-weight: bold; }
            html body .main-container .main-main .main-content .main-article h4 {
              font-weight: bold; }
            html body .main-container .main-main .main-content .breadcrumb {
              padding-bottom: 0.75rem; }
            html body .main-container .main-main .main-content .dynamic ul.list .tab {
              font-size: var(--theme-text); }
        html body .main-container #space, html body .main-container #fixed {
          display: none; }
      html body .index .main-main .main-content {
        padding: 1rem 0.9rem 0 0.9rem; }
        html body .index .main-main .main-content .i-article {
          margin-top: 0.9rem;
          padding-bottom: 0.9rem; }
          html body .index .main-main .main-content .i-article h2 {
            margin: 0;
            min-height: 50px; }
          html body .index .main-main .main-content .i-article:first-of-type {
            margin-top: 1rem; }
          html body .index .main-main .main-content .i-article .i-article-thumb {
            width: 30%;
            margin-left: 0.5rem;
            /*
              缩略图最小高度
            */ }
            html body .index .main-main .main-content .i-article .i-article-thumb a {
              display: flex;
              align-items: flex-start;
              height: 90%; }
              html body .index .main-main .main-content .i-article .i-article-thumb a img {
                min-height: 64px;
                max-height: 75px;
                height: 100%; }
          html body .index .main-main .main-content .i-article .i-article-left {
            margin-right: 0.5rem;
            margin-left: 0; }
          html body .index .main-main .main-content .i-article .i-article-summary {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            html body .index .main-main .main-content .i-article .i-article-summary .i-article-title {
              font-size: var(--theme-text); }
              html body .index .main-main .main-content .i-article .i-article-summary .i-article-title a {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.55; }
            html body .index .main-main .main-content .i-article .i-article-summary .i-article-excerpt {
              display: none; }
            html body .index .main-main .main-content .i-article .i-article-summary .i-article-info {
              margin-top: 0.25rem; }
              html body .index .main-main .main-content .i-article .i-article-summary .i-article-info ul li {
                font-size: var(--theme-text-mini); }
                html body .index .main-main .main-content .i-article .i-article-summary .i-article-info ul li:nth-child(3) {
                  padding-left: 0; }
              html body .index .main-main .main-content .i-article .i-article-summary .i-article-info .category {
                display: none; }
      html body .index .main-main .hasDynamic {
        padding-top: 0; }
      html body #author {
        display: none; }
      html body .main-container .main-main .div-info .comment-form .comment-form-main .comment-textarea .emoji-list {
        width: 80%; } }
