@media (max-width: 480px) {
  :root {
    --theme-first-level-title: 1.3rem;
    --theme-text: 0.95rem;
    --theme-secondary: 0.85rem;
    --theme-text-mini: 0.75rem;
    --theme-text-more-mini: 0.75rem;
    --theme-secondary-level-title: 1.05rem;
    --theme-third-level-title: 1rem;
    --theme-fourth-level-title: 0.95rem;
    --theme-header-size: 1.15rem;
    --theme-margin-bottom:1.1rem;
  }


  html {
    min-width: unset;

    p {
      margin: 0 0 1.3rem 0;
    }

    body {
      #category{
        padding-left:0!important;
      }

      .main-header {
        height: 55px;
        border-top: 1px solid var(--theme-header-border);
        border-bottom: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

        .daohang {
          font-size: 1.45rem;
        }
      }

      .password {
        img {
          width: 60%;
        }
        p{
          label{
            input{
              height: 2.5rem;
            }
          }
        }

      }

      .main-container {


        margin-top: 55px;

        .div-info {
          padding: 0.1rem 1rem 0.85rem 1.1rem;
        }

        .main-main {
          width: 100%;

          .main-bottom {
            padding: 0 1.5rem;
          }


          .main-content {
            padding: 1.1rem 1rem 0 1rem;


            h1 {
              margin-top: 0.6rem;
              line-height: 1.5;
            }

            h2{
              font-weight:bold!important;
            }
            h3{
              font-weight:bold;
            }
            h4{
              font-weight:bold;
            }

            .breadcrumb {
              padding-bottom: 0.75rem;
            }
          }
        }

        #space, #fixed {
          display: none;
        }
      }

      .index .main-main .main-content {
        padding: 1.45rem 0.9rem 0 0.9rem;

        .i-article {

          .i-article-right {
            margin-left: 0.6rem;

            img {
              height: 50%;
            }
          }

          .i-article-left {
            .i-article-title {
              font-size: 1.1rem;
              a {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }

      #author, #publish {
        display: none;
      }
    }
  }
}
