/*
  手机
*/
@media (max-width: 480px) {

  :root {
    --theme-first-level-title: 1.25rem;
    --theme-text: 0.95rem;
    --theme-secondary: 0.85rem;
    --theme-text-mini: 0.75rem;
    --theme-text-more-mini: 0.75rem;
    --theme-secondary-level-title: 1.05rem;
    --theme-third-level-title: 1rem;
    --theme-fourth-level-title: 0.95rem;
    --theme-header-size: 1.15rem;
    --theme-margin-bottom: 1.1rem;
    --theme-margin-bottom-max: 1.2rem;
  }


  html {
    min-width: unset;


    body {

      h1 {
        margin-top: 0.6rem;
        line-height: 1.5;
      }


      #category {
        padding-left: 0 !important;
      }

      .main-header {
        height: 55px;
        border-top: 1px solid var(--theme-header-border);

        border-bottom: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

        .daohang {
          font-size: 1.45rem;
        }

        .right {
          .menu-left {

            .menu {

              .menu-item {
                font-size: var(--theme-text);
              }
            }
          }
        }
      }

      .password img {
        width: 60%;
      }

      .main-container {


        margin-top: 55px;

        .div-info {
          padding: .1rem 1rem .85rem 1.1rem;
        }

        .main-main {
          width: 100%;

          .non-result {
            margin-top: 1rem;

            .in {
              font-size: var(--theme-header-size);

              .belong {
                font-size: inherit;
              }
            }
          }

          .main-bottom {
            padding: 0 0.3rem;
          }


          .main-content {
            padding: 1.1rem 1rem 0 1rem;

            .main-article {
              h2 {
                font-weight: bold !important;
              }

              h3 {
                font-weight: bold;
              }

              h4 {
                font-weight: bold;
              }
            }


            .breadcrumb {
              padding-bottom: 0.75rem;
            }

            .dynamic {

              ul.list {

                .tab {
                  font-size: var(--theme-text);
                }
              }
            }
          }
        }

        #space, #fixed {
          display: none;
        }
      }

      .index .main-main .main-content {
        padding: 1rem 0.9rem 0 0.9rem;

        .i-article {

          &:first-of-type {
            margin-top: 1rem;
          }

          .i-article-right {

            margin-left: 0.8rem;

            /*
              缩略图最小高度
            */
            a {
              display: flex;
              align-items: flex-start;

              img {
                min-height: 64px;
                height: 60%;
              }
            }
          }

          .i-article-left {

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .i-article-title {
              font-size: var(--theme-text);


              a {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.55;
              }
            }

            .i-article-excerpt {
              display: none;
            }

            .i-article-info {
              ul {
                li {
                  font-size: var(--theme-text-mini);
                }
              }

              .category {
                display: none;
              }

            }


          }


        }
      }


      /*
        如果有动态页面加载
      */
      .index .main-main .hasDynamic {
        padding-top: 0;
      }

      #author {
        display: none;
      }


      /*评论区*/
      .main-container {
        .main-main {
          .div-info {
            .comment-form {
              .comment-form-main {
                .comment-textarea {
                  .emoji-list {
                    width: 80%;
                  }
                }
              }
            }
          }
        }
      }


    }
  }
}

