@charset "UTF-8";
/*
  768-1024px的屏幕
*/
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    min-width: unset; }
    html body .password img {
      width: 50%; }
    html body .main-container .main-main {
      width: 80%;
      /* 文章推荐 */ }
      html body .main-container .main-main .recommend .list .swiper-slide {
        width: calc(25% - 12px); }
    html body .main-container #space, html body .main-container #fixed {
      display: none; } }
