/*
  768-1024px的屏幕
*/
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    min-width: unset;

    body {
      .password img {
        width: 50%;
      }

      .main-container {
        .main-main {
          width: 80%;
          /* 文章推荐 */
          .recommend {
            .list {
              .swiper-slide {
                width: calc(25% - 12px);
              }
            }
          }
        }

        #space, #fixed {
          display: none;
        }
      }
    }
  }
}
