/*
  基于1920*938的窗口
*/

:root {
  --theme-text: 0.83rem; //正文文字大小
  --theme-header-size: 1.08rem; //logo标题文字大小


  --theme-white: #fff;
  --theme-black: #1a1a1a;

  --theme-secondary: 0.78rem; //次要文字
  --theme-first-level-title: 1.50rem; //一级标题
  --theme-secondary-level-title: 1.25rem; //二级标题
  --theme-third-level-title: 0.96rem; //三级标题
  --theme-fourth-level-title: 0.88rem; //三级标题

  --theme-color: #eb2f96; //主题色
  --theme-color-20: #42b98320; //主题色
  --theme-text-color: #2c3e50; //正文字体颜色
  --theme-text-secondary: #888888;

  --theme-text-mini-color: #aaa; //迷你文字颜色
  --theme-text-mini: 0.71vw; //迷你文字大小
  --theme-text-more-mini: 0.63vw; //迷你文字大小

  --theme-li-padding: 1.2rem; //正文文字大小


  --theme-bg-color: var(--theme-white); //全局背景色
  --theme-hover-bg: #444;
  --theme-hover-color: white;
  --theme-hover-shadow: #00000019;


  --theme-code-bg:#eeeeee;
  --theme-code-text:#4e6e8e;

  --theme-success-bg-color: #f3f4f5; //成功的容器颜色
  --theme-success-line-color: #42b983; //成功的容器颜色
  --theme-success-title-color:#2c3e50;
  --theme-success-text-color: #2c3e50; //成功的容器颜色
  --theme-alert-bg-color: #fffae3; //警告的提示背景颜色
  --theme-alert-title-color:#ad9000;
  --theme-alert-line-color: #e7c000; //成功的容器颜色
  --theme-alert-text-color: #746000; //成功的容器颜色
  --theme-error-bg-color: #ffe0e0; //错误的背景颜色
  --theme-error-title-color:#990000;
  --theme-error-line-color: #cc0000; //成功的容器颜色
  --theme-error-text-color: #660000; //成功的容器颜色


  --theme-first-index-title: 0.78rem; //索引一级标题
  --theme-secondary-index-title: 0.78rem; //索引二级标题
  --theme-third-index-title: 0.78rem; //索引三级标题
}


@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('assets/font/webfont_0jpwawfzyo3v.eot'); /* IE9*/
  src: url('assets/font/webfont_0jpwawfzyo3v.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/font/webfont_0jpwawfzyo3v.woff2') format('woff2'),
  url('assets/font/webfont_0jpwawfzyo3v.woff') format('woff'), /* chrome、firefox */
  url('assets/font/webfont_0jpwawfzyo3v.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('assets/font/webfont_0jpwawfzyo3v.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

@import "iconfont";

/*@所有元素默认字号*/
* {
  font-size: var(--theme-text);
  color: var(--theme-text-color);
  box-sizing: border-box;
  line-height: 1.8;
}


p {
  margin: 0 0 16px 0;
  font-weight: 400;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}


/*
暗黑模式
*/
.dark {
  --theme-text-color: #ffffffde;
  --theme-bg-color: var(--theme-black); //全局背景色
  --theme-text-secondary: #ebebeb99;
  --theme-hover-bg: var(--theme-text-color);
  --theme-hover-color: var(--theme-black);
  --theme-hover-shadow: #DFDFDF2D;
}

/*主题颜色*/
.theme-one {
  --theme-color: #f5222d;
}

.theme-two {
  --theme-color: #fa541c;
}

.theme-three {
  --theme-color: #fadb14;
}

.theme-four {
  --theme-color: #3eaf7c;
}

.theme-five {
  --theme-color: #13c2c2;
}

.theme-six {
  --theme-color: #1890ff;
}

.theme-seven {
  --theme-color: #722ed1;
}

.theme-eight {
  --theme-color: #eb2f96;
}


/*滚动条样式修改*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  width: 6px !important;
  height: 6px !important;
}

:hover::-webkit-scrollbar-thumb {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 0 2px transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 4px;
  display: none;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}


/*纯css的文字提示*/
.tooltip {
  position: relative;

  &:hover {
    &:before {
      position: absolute;
      top: calc(100% + 5px);
      left: 5%;
      width: 0;
      height: 0;
      content: " ";
      border: 5px solid transparent;
      border-bottom-color: #2c3e50;
    }

    &:after {
      position: absolute;
      top: calc(100% + 15px);
      left: 1%;
      z-index: 100;
      padding: 10px 15px;
      box-shadow: 0 0 5px 1px rgba(44, 62, 80, 0.5);

      font-size: 0.5vw;
      color: white;
      content: attr(data-hint);
      background-color: #2c3e50;
      white-space: nowrap;
      line-height: 1.5;
      letter-spacing: 2px;
      border-radius: 8px;

    }
  }
}


/*分割线样式*/

.divider {

  display: flex;
  font-size: var(--theme-text);
  margin: 1px 0;
  color: var(--theme-text-color);
  white-space: nowrap;
  font-weight: bold;

  &:before, &:after {
    position: relative;
    display: inline-block;
    border-top: 1px solid #e1e1e1;

    content: "";
    height: 1px;
    top: 50%;
  }

  &:before {
    width: 10%;
    margin-right: 0.5rem;
  }

  &:after {
    width: 100%;
    margin-left: 0.5rem;
  }
}
